<footer class="bg-gray-200 p-4 mt-8">
    <div class="container mx-auto text-center text-gray-600">
        <p class="text-sm md:text-base p-2 md:p-4"> &copy; 2024 HR Management System</p>
    </div>
</footer>